* {
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
  }

  .main {
    width: 100%;
    height: 600px;
    position: relative;
    /* background-color: rgb(255, 245, 105); */
}

  #backgroundImg, #backgroundImg2 {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  header {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

  #nav2 {
    background: rgb(255, 245, 105);
}


  a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      transition:  all .2s ease-in-out;
  }

  /* .location {
      position: absolute;
      background-color: rgb(255, 245, 105);
  } */

  .location {
      background-color: rgb(255, 245, 105);
      position: absolute; 
      top: -78px;
      transform-origin: bottom left;
      /* left: 80px;  */
      font-size: 60px;
      transform: rotate(90deg);
  }

.location:nth-child(even) {
    left: 10%;
  }

.location:nth-child(odd) {
    right: 0.5%;
}

  .info {
    background-color: rgba(0, 0, 0, 0.74);
    width: 605px;
    height: 158px;
    color: white;
    padding: 100px;
    position: absolute;
    top: 100px;
  }

  .info:nth-child(odd) {
      right: 10%;
  }

  .info:nth-child(even) {
      left: 10%;
  }

  a:hover {
      font-size: 150%;;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

 
  #listID {
      overflow: scroll;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  #email {
      color: white;
  }

  #map {
      height: 400px;
      width: 100%;
  }

  footer {
      position: absolute;
      bottom: 8px;
      left: 16px;
  }