* {
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
  }
  
  .main {
    width: 100%;
    height: 600px;
    position: relative;
    /* background-color: rgb(255, 245, 105); */
}

  #backgroundImg {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      transition:  all .2s ease-in-out;
  }

  /* .location {
      position: absolute;
      background-color: rgb(255, 245, 105);
  } */

  .location {
      background-color: rgb(255, 245, 105);
      position: absolute; 
      top: -82px;
      transform-origin: bottom left;
      /* left: 80px;  */
      font-size: 70px;
      transform: rotate(90deg);
  }

.location:nth-child(even) {
    left: 10%;
  }

.location:nth-child(odd) {
    right: 0.5%;
}

  .info {
    background-color: rgba(0, 0, 0, 0.74);
    width: 605px;
    height: 158px;
    color: white;
    padding: 100px;
    position: absolute;
    top: 100px;
  }

  .info:nth-child(odd) {
      right: 10%;
  }

  .info:nth-child(even) {
      left: 10%;
  }

  a:hover {
      font-size: 150%;;
  }

  footer {
      position: absolute;
      bottom: 8px;
      left: 16px;
  }

  /* 
  .info {
      background-color: rgba(81, 230, 114, 0.836);
      color: rgb(255, 247, 247);
      position: absolute;
      border: 1px solid yellowgreen;
      width: 100%;
  }  

  


a {
    color: white;
    text-decoration: none;
    transition:  all .2s ease-in-out;
    margin: 4px;
}

a:hover {
    font-size: 150%;
}

main {
    border-style: hidden;
    border-color: black;
    top: 15%;
    height: 70%;
    width: 100%;
    background: rgba(0, 0, 0, 0.637);
}

main > p {
    font-family: 'Crete Round', serif;
    opacity: 0.55;
    font-size: 45px;
    /* writing-mode: vertical-rl;
    transform: rotate(180deg); 
}

p {
    font-weight: normal;
    font-style: normal;
    color: white;

}

.center {
    border: 1px solid #ffffff;
}

.info {
    margin: 15px 5em;
}


.sidescroll {
    overflow: scroll;
    white-space: nowrap;
}

.sidescroll > div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

footer {
    width: 40px;
    height: 30px;
} */